
.body{
    font-family: sans-serif;
}
.Title{
    color: blue;
    
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.post{
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);}

.post:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    cursor: pointer;
  
  
}

#username{
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    
}

#addbutton{
    text-decoration: none;
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }
    
}

#form{
    text-align: center;
    margin-top: 100px;
}

#input{
    padding: 20px;
    border: 2px solid black;
}

#input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    cursor: pointer;
}