<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Post</h1>
    <p>Post ID: <%= postid.id%></p>
    <div class="post">
        <h3 id="username">@<%= postid.username %></h3>
        <h4 id="post"><%= postid.content %></h4>

    </div>
    
</body>
</html>